@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
    height: 100vh;
    overflow: auto;
}

@keyframes shake-animation {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    background-color: magenta !important;
    animation-name: shake-animation;
    animation-duration: 0.8s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.short-shake {
    animation-name: shake-animation;
    animation-duration: 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fade-out {
    transition: 3s all;
    opacity: 0;
    background-color: black !important;
}

.appear-start-grid {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .8s;
    opacity: 0;
    transform: rotate(45deg) scale(0.1);
}

.appear-start-keyboard {
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .8s;
    opacity: 0;
    transform: translateY(50%);
}

.appear {
    opacity: 100;
    transform: scale(1) rotate(0) translateY(0);
}


.cell[data-animation='flip-in'] {
    animation-name: FlipIn;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}
@keyframes FlipIn {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-90deg);
    }
}

.cell[data-animation='flip-out'] {
    animation-name: FlipOut;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}
@keyframes FlipOut {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
}
